* {
	box-sizing:border-box ;
	margin: 0;
	padding: 0;
	font-family:'Italiana'
}

.logo {
    color: black;
    /*padding: 0 2rem;*/
	font-size: 2rem;
}

nav {
    height: 80px;
    /*background-color: rgb(249, 245, 241);*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem calc( (100vw - 1300px) / 2);
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
}

.content {
    background: rgb(249, 245, 241);
}

.content-container {
     display:flex;
	 flex-direction: column;
     height: 95vh;
     padding: 3rem calc((100vw - 930px) / 2);
     text-align: center;
     line-height: 2;
}

.contact{
	justify-content:center;
	width:100%;
}

.contact h1, .contact p{
	text-align:left;
}

.contact h1{
	font-size:2rem;
 
    
}

.contact p{
	font-size:1rem;
}

.item {
	display:flex;
    background-color: black;
}

.articleitem{
    display:flex;
    background-color: rgb(249, 245, 241);
}


.item > img{
	width:100%;
	padding-top:50px;
}

#right{
	flex-grow:1;
	width:60%;
	padding-left: 50px;
}

#right > img{
	width:100%;
}

#left{
	flex-grow:1;
	width:40%;
	text-align:left;
    color: white;
    padding-left: 20px;
}

#articleleft{
    background: rgb(249, 245, 241);
    padding-top: 50px;
    width: 33vw;
    
}


.content-container .articleitem #articleleft a {
    display: block; 
    text-decoration: none;
}


.content-container .articleitem #articleleft a img {
    width: 100%;
    height: auto; 
   
}


#articleleft > img{
    width: 100%;

}

#articleright{
    background: rgb(249, 245, 241);
    padding-top: 50px;
    width: 30.5vw;
    margin-left: 50px;
   
    
}

#articleright > img{
    width: 100%;
}

#articlemiddle{
    background: rgb(249, 245, 241);
    padding-top: 50px;
    width: 33vw;
    margin-inline-start: 5px;
    padding-left: 10px
}

#articlemiddle > img{
    width: 100%;

}

#centerarticle {
    justify-content: center;
}

#focusedright{
    width: 40%;
    background: white;
}

#focusedleft{
    width: 60%;
    
}

#focusedleft > img{
    width: 100%;
}


@media screen and (max-width: 758px) {
	nav, .item {
		flex-direction: column;
	}
	
	#right, #left{
		width:100%
	}
}

